.sidebar-time {
    min-height: calc(100vh - 70px);
    margin-top: 70px;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 0;
    top: 0;
    direction: rtl;
}

.sidebar-chats {
    min-height: calc(100vh - 70px);
    margin-top: 70px;
    width: 230px;
    overflow-y: auto;
    overflow-x: hidden;
}

.messages-container{
    display: flex;
    width: 100%;
}

.messages {
    height: calc(100vh - 70px);
    margin-top: 70px;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
}

.bg-cinza {
    background-color: #1E1E1E;
}

.bg-preto {
    background-color: #121212;
}

.sidebar-time ul {
    direction: ltr;
}

.sidebar-time ul li img {
    height: 50px;
}

.sidebar-chats ul li p {
    font-size: 14px;
}

.chat-ativo{
    background-color: white;
    color: black;
}

.chat-inativo{
    background-color: #A3A3A3;
    color: #232323;
}

.mensagens{
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.mensagem-outro{
    width: fit-content;
}

.mensagem-outro .conteudo{
    background-color: white;
}

.mensagem-outro .orientacao{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.mensagem-outro p{
    margin: 0;
}

.mensagem-proprio{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
}

.mensagem-proprio .conteudo{
    background-color: #89F8FF;
}

.mensagem-proprio .orientacao{
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
}

.mensagem-proprio p{
    margin: 0;
}

.enviar-mensagem{
    height: fit-content;
    border-radius: 10px;
    margin-top: auto;
    padding-top: 10px;
}

.enviar-mensagem textarea{
    border: none;
    resize: none;
    width: 100%;
    height: 50px;
    padding: 0.7rem 1rem;
    border-radius: 8px 0 0 8px;
}

.enviar-mensagem button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 23px;
    border-radius: 0 8px 8px 0;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #303030;
}

::-webkit-scrollbar-thumb{
    background: #4e4e4e;
    border-radius: 5px;
}