.overlay{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top:-120px;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.295);
    position: fixed;
    z-index: 100;
}
.text-modal{
    padding: 20px;
    width: 300px;
    height: fit-content;
    margin: 100px;
    margin-top: 170px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    z-index: 110;
}
.text-modal input[type=color]{
	display: block;
	width: 20px;
	height: 20px;
	border: none;
    background-color: rgba(255, 255, 255, 0.041);
}
.text-modal input[type=color]:hover{
	cursor: pointer;
}
.text-modal input[type="color"]::-webkit-color-swatch-wrapper {
    border-radius: 2px;
    padding: 0;
    border-radius: 0;
 }
.text-modal input[type="color"]::-webkit-color-swatch {
    border: none;
}
.form-color{
    padding-top: 10px;
    padding-bottom: 20px;
}